prev/src/Services/eArchive/schemas/ru/prx_bftea_store_document_request.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xsd:element name="StoreDocumentRequest">
    <xsd:annotation>
      <xsd:documentation>Состав и структура запроса на сохранение документа в БФТ.е-Архив.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Credential">
          <xsd:annotation>
            <xsd:documentation>Учетные данные.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Username">
                <xsd:annotation>
                  <xsd:documentation>Имя пользователя.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string" />
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="Password">
                <xsd:annotation>
                  <xsd:documentation>Пароль.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string" />
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StoreDocumentBody">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Name">
                <xsd:annotation>
                  <xsd:documentation>Название документа.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="4000" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DocNumber">
                <xsd:annotation>
                  <xsd:documentation>Номер документа.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="160" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DocSum" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Контрольная сумма.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string" />
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DocDate">
                <xsd:annotation>
                  <xsd:documentation>Дата создания документа.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:dateTime" />
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DtEnd" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Дата окончания срока хранения.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:dateTime" />
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ExtId">
                <xsd:annotation>
                  <xsd:documentation>Id документа из внешней системы.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:long">
                    <xsd:totalDigits value="17" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="SrcSystem">
                <xsd:annotation>
                  <xsd:documentation>Код системы источника.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="36" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="AutomaticResigning">
                <xsd:annotation>
                  <xsd:documentation>Автоматическое переподписание.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:boolean" />
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="DocType">
                <xsd:annotation>
                  <xsd:documentation>Тип документа.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Name">
                      <xsd:annotation>
                        <xsd:documentation>Название типа документа.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="1" />
                          <xsd:maxLength value="400" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Code">
                      <xsd:annotation>
                        <xsd:documentation>Код типа документа.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="1" />
                          <xsd:maxLength value="20" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Organisation">
                <xsd:annotation>
                  <xsd:documentation>Организация.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Name">
                      <xsd:annotation>
                        <xsd:documentation>Название организации.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="1" />
                          <xsd:maxLength value="160" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Inn">
                      <xsd:annotation>
                        <xsd:documentation>ИНН.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:length value="10" />
                          <xsd:pattern value="[0-9]{10}"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Ogrn">
                      <xsd:annotation>
                        <xsd:documentation>ОГРН.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:length value="13" />
                          <xsd:pattern value="[0-9]{13}"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Kpp">
                      <xsd:annotation>
                        <xsd:documentation>КПП.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:length value="9" />
                          <xsd:pattern value="[0-9]{9}"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Attachs">
                <xsd:annotation>
                  <xsd:documentation>Файлы вложений.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="Attach">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ExtId">
                            <xsd:annotation>
                              <xsd:documentation>Внешний Id файла вложения.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:long">
                                <xsd:totalDigits value="17" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="FileName">
                            <xsd:annotation>
                              <xsd:documentation>Имя файла.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:minLength value="1" />
                                <xsd:maxLength value="240" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="AttachFileType">
                            <xsd:annotation>
                              <xsd:documentation>Тип файла.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:minLength value="1" />
                                <xsd:maxLength value="10" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="AttachType">
                            <xsd:annotation>
                              <xsd:documentation>Наименование типа вложения.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="signeddata" />
                                <xsd:enumeration value="attach" />
                                <xsd:enumeration value="document" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="AttachCategory" minOccurs="0">
                            <xsd:annotation>
                              <xsd:documentation>Наименование категории вложения.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string" />
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="Author" minOccurs="0">
                            <xsd:annotation>
                              <xsd:documentation>ФИО автора вложения.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string" />
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="File">
                            <xsd:annotation>
                              <xsd:documentation>Файл вложения в Base64 кодировке.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string" />
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="Signatures">
                            <xsd:annotation>
                              <xsd:documentation>Подписи.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                              <xsd:sequence minOccurs="0">
                                <xsd:choice maxOccurs="unbounded">
                                  <xsd:element name="ExtId">
                                    <xsd:annotation>
                                      <xsd:documentation>Внешний Id подписи.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                      <xsd:restriction base="xsd:long">
                                        <xsd:totalDigits value="17" />
                                      </xsd:restriction>
                                    </xsd:simpleType>
                                  </xsd:element>
                                  <xsd:element name="SignDate">
                                    <xsd:annotation>
                                      <xsd:documentation>Дата-время формирования ЭП во внешней системе.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                      <xsd:restriction base="xsd:dateTime" />
                                    </xsd:simpleType>
                                  </xsd:element>
                                  <xsd:element name="File">
                                    <xsd:annotation>
                                      <xsd:documentation>Файл подписи в Base64 кодировке.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                      <xsd:restriction base="xsd:string" />
                                    </xsd:simpleType>
                                  </xsd:element>
                                </xsd:choice>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>